<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="display-3">BIENVENIDO!</h1>
                <p class="lead"><strong>Por favor revisa tu correo electrónico</strong> para confirmar tu registro.</p>
                <hr>
                <p>Gracias por registrarte con nosotros
                    <li><a routerLink="/login"><i></i>Inicia sesión</a></li>
                </p>
            </div>
        </div>
    </div>
</div>